# Git and virtual environments
.git
.gitignore
.venv-prod/
.venv-stable/
venv/

# Docker and Jenkins specific
custom_jenkins/
Dockerfile.china
Dockerfile.original
*.original

# Python cache
__pycache__/
*.pyc

# IDE and OS files
.idea/
.vscode/
*.DS_Store

# Logs and local data
logs/
*.log